body {
    background-color:  #666666;
}

h1 {
    color: black;
    font-family: Merriweather;
}
    
h2 {
    color: black;
    font-family: Merriweather;
}

h3 {
    color: black;
    font-family: Merriweather;
}

h4 {
    color: black;
    font-family: Merriweather;
}

h5 {
    color: black;
    font-family: Merriweather;
}

p {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 20px;
}

    div { 
    background-color: #FFFFFF;
    }

a:link { 
color: #66FFFF;
}

a:visited { 
color: #66FFFF;
}

li {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 20px;
}