body {
    background-color:  #666666;
}

h1 {
    color: black;
}
    
h2 {
    color: black;
}

p {
    color: #FFFFFF;
    font-family: verdana;
    font-size: 20px;
}

    div { 
    background-color: #FFFFFF;
    }

a:link { 
color: #66FFFF;
}

a:visited { 
color: #66FFFF;
}